.menu-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #e8f5ff;
    overflow:auto;
}

.no-tests h1{
    margin: auto;
    text-align: center;
    padding: 10%;
}

.modal-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24;
}

.modal-container{
    margin: 5%;
}

.name-info{
    transform: translateY(-2px);
}